.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    padding-top: 30px;
    text-align-last: center;
}
.general_information {
    padding-top: 60px;
}
.profil_information {
    display: flex;
    flex-direction: column;
}
.name {
    padding-top: 40px;
    text-align-last: center;
}
.birthday_city {
    display: flex;
    flex-direction: row;
}
.city {
    padding-right: 100px;
}
.email {
    padding-top: 60px;
    text-align-last: center;
}
.style_log{
    padding-top: 25px;
    width: 80%;
}