<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="user">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img class="style_log" src="../assets/logoGoStyle.png">
    </ion-toolbar>
  </ion-header>
  <div class="profile">
    <div class="avatar">
      <img class="style_log" src="../assets/user.png">
    </div>
    <div class="profil_informations">
      <div class="name">
        {{ user.firstname }} {{ user.lastname }}
      </div>
      <div class="general_information">
        <div class="birthday_city">
          <div class="city">
            <div>
              Ville:
            </div>
            <div>
              {{ user.city }}
            </div>
          </div>
          <div class="birthday">
            <div>
              Anniversaire:
            </div>
            <div>
              22/03/2021
            </div>
          </div>
        </div>
        <div class="email">
          <div>
            email:
          </div>
          <div>
            {{ user.email }}
          </div>
        </div>
      </div>
    </div>
    <ion-button color="medium">
      <ion-label>Déconnexion</ion-label>
  </ion-button>
  </div>
</ion-content>
