<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="logo">
      <img class="style_log" src="../assets/logoGoStyle.png">
    </ion-toolbar>
  </ion-header>
  <div class="coupon" *ngIf="coupon">
    <div class="image_coupon">
      <img [src]="coupon.image" class="info-img">
    </div>
    <div class="coupon_informations">
      <div class="name">
        {{ coupon.name }}
      </div>
      <div class="general_information_coupon">
        <div class="bloc_information">
          <div class="date_conditions_pourcent">
              <div class="pourcent_condition">
                <div class="pourcent">
                  <div>
                    pourcentage:
                  </div>
                  <div>
                    {{ coupon.discount }} %
                  </div>
                </div>
              </div>
              <div class="dates_validites">
                <div>
                  valable du:
                </div>
                <div>
                  {{ coupon.firstDay }}
                </div>
              </div>
          </div>
          <div class="date_conditions_pourcent">
            <div class="pourcent_condition">
              <div>
                Conditions d'utilisations:
              </div>
              <div>
                {{ coupon.description }}
              </div>
            </div>
            <div>
              <div>
                au:
              </div>
              <div>
                {{ coupon.lastDay }}
              </div>
            </div>
          </div>
          <div class="ville_utils">
            <div>
              Ville d'utilisation:
            </div>
            <div>
              {{ coupon.city }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
