.placement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

.style_log{
    width: 70%;
}

.ion-padding {
    display: flex;
    justify-content: center;
}