<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Creation d'un Coupon </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate> -->
  <ion-item lines="full">
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Description</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Date de Début</ion-label>
    <ion-input type="date" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Date de Fin</ion-label>
    <ion-input type="date" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Montant Minimum</ion-label>
    <ion-input type="number" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Ville</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Nombre d'utilisation possible</ion-label>
    <ion-input type="number" required></ion-input>
  </ion-item>
  <br />
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block"
        >Valider</ion-button
      >
    </ion-col>
  </ion-row>
  <!-- </form> -->
</ion-content>
