<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Creation d'un Coupon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" [(ngModel)]="data.description"  [ngModelOptions]="{standalone: true}"required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Date de Début</ion-label>
      <ion-input type="date" [(ngModel)]="data.first_day" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Date de Fin</ion-label>
      <ion-input type="date" [(ngModel)]="data.last_day" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Montant Minimum</ion-label>
      <ion-input type="number" [(ngModel)]="data.min_amount" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Ville</ion-label>
      <ion-input type="text" [(ngModel)]="data.city" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nombre d'utilisation possible</ion-label>
      <ion-input type="number" [(ngModel)]="data.nb_use" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Image</ion-label>
      <ion-input type="text" [(ngModel)]="data.image" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="sendPostRequest()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
